nav[role="navigation"] {
  width: 274px;

  background: #001129 url('/inc/img/nav_bg.png') no-repeat top left;
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
    background: #001129 url('/inc/img/nav_bg@2x.png') no-repeat top left;
    background-size: 274px auto;
  }

  header {
    height: 50px;
    padding: 2em 0 0 2em;

    h1.wordmark {
      width: 156px;
      height: 31px;
      background: url('/inc/img/ucsc_logo.png') no-repeat top left;
      @media
      only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (   min--moz-device-pixel-ratio: 2),
      only screen and (     -o-min-device-pixel-ratio: 2/1),
      only screen and (        min-device-pixel-ratio: 2),
      only screen and (                min-resolution: 192dpi),
      only screen and (                min-resolution: 2dppx) {
        background: url('/inc/img/ucsc_logo@2x.png') no-repeat top left;
        background-size: 135px 27px;
      }
      text-indent: -9999px;
      opacity: 0.8;
      filter: alpha(opacity=8);

    }
  }

  section {
    background: none;
    top: 0px;
    height: calc(100% - 90px);
  }

  section[role="nav"] {

    margin-top: .5em;

    h1 {
      font-size: $medium-font-size;
      font-weight: 500;
      color: $medium-gray;
      opacity: 0.35;
      text-transform: uppercase;
      padding-left: 2.5em;
      padding-bottom: .75em;
    }

    ul {
      a {
        color: $medium-gray;
        text-decoration: none;
        li {
          padding: 9px 0;

          span {
            padding-left: 34px;
            font-size: 17px;
            font-weight: 500;

            i {
              font-size: 18px;
              padding-right: 12px;
              font-weight: 100;
              color: #727779;

              sup {
                font-style: normal;
                font-weight: 400;
                color: $medium-gray;
                font-size: 11px;
                vertical-align: super;
                margin-left: -3px;
              }
            }

            i.warn {
              color: $red;
            }
          }


        }
      }

      a:hover, a.active {
        color: white;

        li span {
          //border-left: 3px $light-gray solid;
          //padding-left: 31px;
        }

        i {
          color: #CCCECE;

          sup {
            color: white;
          }
        }
      }
    }
  }
}



//Side drawer slider
main {
  left: 274px;

  button.leftnav {
    display: none;
  }

//  -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.15s;
//  -moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.15s;
//  -o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.15s;
//  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.15s;

//  &.drawer {
//    left: 274px;
//  }

  .state-1 &{
    @include breakpoint(one-col) {
      left: 0;
      &.drawer {
        -webkit-transform: translate3d(274px, 0, 0);
      }
      button.leftnav {
        display: inline-block;
      }
    }
  }
  .state-2 &{
    @include breakpoint(one-col) {
      left: 0;
      &.drawer {
        -webkit-transform: translate3d(274px, 0, 0);
      }
    }
    @include breakpoint(two-col) {
      left: 0;
      &.drawer {
        -webkit-transform: translate3d(274px, 0, 0);
      }
    }
  }
  .state-3 &{
    @include breakpoint(one-col) {
      left: 0;
      &.drawer {
        -webkit-transform: translate3d(274px, 0, 0);
      }
    }
    @include breakpoint(two-col) {
      left: 0;
      &.drawer {
        -webkit-transform: translate3d(274px, 0, 0);
      }
    }
    @include breakpoint(three-col) {
      left: 0;
      &.drawer {
        -webkit-transform: translate3d(274px, 0, 0);
      }
    }
  }
  .state-4 &{
    @include breakpoint(one-col) {
      &.drawer {
        left: 0;
        -webkit-transform: translate3d(274px, 0, 0);
      }
    }
    @include breakpoint(two-col) {
      left: 0;
      &.drawer {
        -webkit-transform: translate3d(274px, 0, 0);
      }
    }
    @include breakpoint(three-col) {
      left: 0;
      &.drawer {
        -webkit-transform: translate3d(274px, 0, 0);
      }
    }
  }
}