<div class="modal modal-overlay" ui-if='modal1' ui-state='modal1'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close"
                ui-turn-off="modal1">&times;</button>
        <h4 class="modal-title">Campus Map Filters</h4>
      </div>
      <div class="modal-body" ng-include="'map-key.html'">
        
      </div>
      <div class="modal-footer">
        <button ui-turn-off="modal1" class="btn btn-primary">Close</button>
      </div>
    </div>
  </div>
</div>