
.icon-search:before { content: '\e805'; } /* '' */
.icon-attach:before { content: '\e81d'; } /* '' */
.icon-bell:before { content: '\e809'; } /* '' */
.icon-vcard:before { content: '\e801'; } /* '' */
.icon-location:before { content: '\e802'; } /* '' */
.icon-compass:before { content: '\e803'; } /* '' */
.icon-phone:before { content: '\e807'; } /* '' */
.icon-mobile:before { content: '\e808'; } /* '' */
.icon-air:before { content: '\e804'; } /* '' */
.icon-key:before { content: '\e806'; } /* '' */
.icon-waves:before { content: '\e80a'; } /* '' */
.icon-sunny:before { content: '\e80b'; } /* '' */
.icon-mail:before { content: '\e80c'; } /* '' */
.icon-user:before { content: '\e80d'; } /* '' */
.icon-user-woman:before { content: '\e80e'; } /* '' */
.icon-feather:before { content: '\e800'; } /* '' */
.icon-ok:before { content: '\e810'; } /* '' */
.icon-cancel:before { content: '\e811'; } /* '' */
.icon-cancel-circle:before { content: '\e812'; } /* '' */
.icon-nav:before { content: '\e813'; } /* '' */
.icon-bullhorn:before { content: '\e819'; } /* '' */
.icon-fahrenheit:before { content: '\e814'; } /* '' */
.icon-sun:before { content: '\e815'; } /* '' */
.icon-moon:before { content: '\e816'; } /* '' */
.icon-cloud-sun:before { content: '\e817'; } /* '' */
.icon-rain:before { content: '\e818'; } /* '' */
.icon-cancel-circled:before { content: '\e81a'; } /* '' */
.icon-plus-circled:before { content: '\e81b'; } /* '' */
.icon-minus-circled:before { content: '\e81c'; } /* '' */
.icon-link:before { content: '\e81e'; } /* '' */
.icon-user-pair:before { content: '\e80f'; } /* '' */