main {
  article.detail {
    float: none;
    width: calc(100% - 274px);
    border-right: none;

    @include breakpoint(one-col) {
      width: auto;
    }
    @include breakpoint(two-col) {
      width: auto;
    }
    @include breakpoint(three-col) {
      width: auto;
    }

    header {
      @include col-header(white, $dark-gray);
//      height: auto;
//      background-color: white;

      @include breakpoint(one-col) {
        article.menu header .buttonright & {
          display: none;
        }
      }


    }

  }
}