main {
  article.list, article.news {
    width: 250px;
    background-color: white;

    .state-2 & {
      @include breakpoint(two-col) {
        float: none;
        width: auto;
        border-right: none;
      }
      @include breakpoint(one-col) {
        float: none;
        width: auto;
        border-right: none;
      }
    }
    .state-3 & {
      @include breakpoint(one-col) {
        margin-left: -152%;
        //width: 100%;
      }
      @include breakpoint(two-col) {
        width: 50%;
      }
    }
    .state-4 & {
      @include breakpoint(one-col) {
        margin-left: -152%;
        //width: 100%;
      }
      @include breakpoint(two-col) {
        margin-left: -152%;
        //width: 50%;
      }
    }
    header {
      @include col-header($light-gray, $dark-gray);

      .state-2 &{
        @include breakpoint(one-col) {
          width: auto;
        }
        @include breakpoint(two-col) {
          width: auto;
        }
      }
      .state-3 &{
        @include breakpoint(one-col) {
          //width: 50%;
        }
        @include breakpoint(two-col) {
          width: 100%;
        }
      }
    }

    section {
      height: calc(100% - 110px);
    }
  }
}
