main {
  article.menu {
    width: 375px;
    background-color: white;

    .state-1 & {
      @include breakpoint(two-col) {
        float: none;
        width: calc(100% - 274px);
        border-right: none;
      }
      @include breakpoint(one-col) {
        float: none;
        width: auto;
        border-right: none;
      }
    }

    .state-2 & {
      @include breakpoint(one-col) {
        margin-left: -102%;
        //width: 50%;
      }
      @include breakpoint(two-col) {
        //margin-left: -102%;
        width: 50%;
      }
    }
    .state-3 & {
      @include breakpoint(one-col) {
        margin-left: -152%;
        //width: 100%;
      }
      @include breakpoint(two-col) {
        margin-left: -152%;
        //width: 50%;
      }
    }
    .state-4 & {
      @include breakpoint(one-col) {
        margin-left: -152%;
        //width: 100%;
      }
      @include breakpoint(two-col) {
        margin-left: -152%;
        //width: 50%;
      }
    }

    header {
      @include col-header($medium-gray, $dark-gray);

      .state-2 &{
        @include breakpoint(one-col) {
          width: 100%;
        }
        @include breakpoint(two-col) {
          width: 100%;
        }
      }
      .state-3 &{
        @include breakpoint(one-col) {
          //width: 50%;
        }
        @include breakpoint(two-col) {
          width: 50%;
        }
      }

    }

    section {
      height: calc(100% - 110px);

      ul {
        li {

          span {
            font-size: 40px;
            color: $blue;

            i {
              float: left;
              padding-right: 30px;
              //margin-top: -4px;
              margin-left: 6px;
              //@include vertical-align;
            }

            i::before {
              text-align: center;
            }

            h2 {
              //display: inline;
              font-size: 22px;
              font-weight: 500;
              color: $dark-gray;
              //vertical-align: super;
            }
            div {
              //display: inline;
              //margin-left: 49px;
//              margin-top: 5px;
              font-size: 14px;
              font-weight: 300;
              color: $dark-gray;


            }
          }


        }
      }



    }
  }
}