<article class="detail" role="emergency">
    <header>
        <div class="articletitle">
            <h1><span>{{contact.title}}</span></h1>
        </div>
        <div class="buttonleft">
            <button ui-sref="emergency.contacts" class="left-nav icon-cancel-circled"></button>
        </div>
        <div class="buttonright">
            <button class="right-nav icon-colon" ng-click="topbar()"></button>
        </div>
    </header>
    <section class="body">
        <span>
			<img ng-src="{{contact.thumbnail}}"/>
		</span>
        <h1>{{contact.title}}</h1>
        <p>{{contact.teaser}}</p>
        <ul>
            <li class="icon-clock">
                {{contact.hours}}
            </li>
            <li class="icon-location">
                <a ng-href="{{contact.map_url}}" target="_blank"><span style="white-space: pre;">{{contact.address}}</span></a>
            </li>
            <li class="icon-telephone">
                <a ng-href="tel:{{contact.phone_url}}">{{contact.phone}}</a>
            </li>
            <li class="icon-mail">
                <a ng-href="mailto:{{contact.email}}">{{contact.email}}</a>
            </li>
            <li class="icon-export">
                <a ng-href="{{contact.external_url}}" target="_blank">{{contact.external_url_title}}</a>
            </li>
            <!--<li class="icon-print" ng-if="{{contact.fax}}">-->
                <!--{{contact.fax}}-->
            <!--</li>-->
        </ul>


    </section>
</article>