<nav role="navigation">
	<div class="page-wrap">
		<section role="report">
			<div class="left">
				<h2>Currently</h2>
				<div aria-hidden="true" title="Current temperature" class="weather {{weather.icon}}"><span class="temp">{{weather.temp}}<i class="icon-fahrenheit"></i></span></div>
			</div>
			<div class="right">
				<h2>Low tide</h2>
				<div aria-hidden="true" title="Next low tide" class="icon-waves"><span class="tide">{{weather.low_tide}} <i>{{weather.low_tide_ampm}}</i></span><div ng-show="{{weather.low_tide_neg}}" class="height">{{weather.low_tide_height}}</div></div>
			</div>
		</section>
		<section role="nav">
			<h1>Campus</h1>
			<ul>
				<a ng-repeat="item in items" ui-sref-active-eq="active" ui-sref="{{item.url}}">
					<li><span><i aria-hidden="true" class="{{item.icon}}"></i>{{item.name}}</span></li>
				</a>
			</uL>
		</section>
	</div>
	<footer class="site-footer">
		<h1>UC Santa Cruz</h1>
		<label class="icon-location"><a ng-href="https://www.google.com/maps/place/University+of+California,+Santa+Cruz" target="_blank">1156 High St <br/>Santa Cruz, CA 95064</a></label>
		<label class="icon-mobile"><a ng-href="tel:+18314590111">(831) 459-0111</a></label>
		<small>©2014 REGENTS OF THE UNIVERSITY OF CALIFORNIA. ALL RIGHTS RESERVED.</small>
	</footer>
	
</nav>
<main role="site" ng-class="{close: isClosed, toggleOpen: isClosed == true, toggleClose: isClosed == false}" hm-drag-right="navOpen()" hm-drag-left="navClose()" ui-view>
	<article role="main">
		<header>
			<button class="icon-article icon-nav" ng-click="navToggle()"></button>
		</header>
		
		<section role="body">
	        <h1>Welcome...</h1>
			
	        <p>
	      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce consequat, felis vel feugiat lacinia, dolor turpis mattis mi, a aliquet risus massa at nulla. Vestibulum mauris mauris, tempus nec sodales sed, luctus vitae felis. Quisque posuere interdum leo sed congue. Vivamus rhoncus bibendum eros sit amet molestie. In hac habitasse platea dictumst. Proin tristique velit metus, vel malesuada lacus venenatis non. Duis sit amet risus a urna placerat commodo. Aenean non sem ac urna hendrerit lacinia a imperdiet tortor. Quisque diam purus, blandit in pharetra vel, vestibulum non erat. Fusce nec nibh ac purus bibendum porttitor eget vel justo. Nullam condimentum, leo ut ultrices imperdiet, nisl sem venenatis sem, volutpat rhoncus ligula ligula et nulla. Integer euismod lorem leo, sit amet blandit quam viverra nec. Aliquam erat volutpat.
	        </p>
        </section>
	</article>
</main>