<nav role="navigation">
	<div class="page-wrap">
		<header>
			<h1 class="wordmark">UC Santa Cruz</h1>
		</header>
		<section role="nav">
			<h1>Campus</h1>
			<ul>
				<a ng-repeat="item in items" ui-sref="{{item.url}}" ng-class="{active: item.url == 'main' && $state.is('{{item.url}}') || item.url != 'main' && $state.includes('{{item.url}}')}">
					<li><span><i aria-hidden="true" ng-class="{warn: showEmergency(item.notify)}" class="{{item.icon}}"><sup ng-if="showEmergency(item.notify)">{{emergency.length}}</sup></i>{{item.name}}</span></li>
				</a>
			</uL>
		</section>
	</div>
</nav>
<main role="site" ng-class="{drawer: isOpen}" ui-view>
	<article role="main" ng-class="{current: $state.is($state.current.name)}">
		<header>
			<button class="icon-article icon-nav" ng-click="drawer()"></button>
		</header>
		
		<section role="body">
	        <h1>Welcome...</h1>
	        <p>
				Thanks for visiting the UCSC Mobile Portal. We’re just getting started, but our goal is to build a one-stop tool for accessing all the information you’re looking for about UCSC.
			</p>
			<p>
				We’ll be “soft-launching” this application, posting new modules as soon as they’re ready. Please play around and let us know what you think.
			</p>
			<iframe height="774" allowTransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none"  src="https://ucscforms.wufoo.com/embed/z16rl6e00k7qkc0/"></iframe>
        </section>
	</article>
</main>