main header.topnavbar {
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 2px 0px, rgba(0, 0, 0, 0.05) 0px 1px 0px 0px;
  -webkit-font-smoothing: antialiased;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 2px 0px, rgba(0, 0, 0, 0.05) 0px 1px 0px 0px;
  box-sizing: border-box;
  display: block;
  height: 50px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 999;
  width: calc(100% - 274px) !important;
  @include breakpoint(one-col) {
    width: 100% !important;
    .state-1 & {
      width: 100% !important;
    }
  }
  @include breakpoint(two-col) {
    width: calc(100% - 274px);
    .state-2 & {
      width: 100% !important;
    }
  }
  @include breakpoint(three-col) {
    width: calc(100% - 274px);
    .state-3 & {
      width: 100% !important;
    }
    .state-4 & {
      width: 100% !important;
    }
  }

  &.topbar {
    display: block;
    .state-1 & {
      @include breakpoint(one-col) {
        display: none;
      }
    }
    .state-2 & {
      @include breakpoint(one-col) {
        display: none;
      }
    }
    .state-3 & {
      @include breakpoint(one-col) {
        display: none;
      }
    }
    .state-4 & {
      @include breakpoint(one-col) {
        display: none;
      }
    }
  }

  .brand {
    text-align: center;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 14px;
    position: absolute;
  }

  .left {
    display: block;
    float: left;
    position: relative;
    vertical-align: middle;
    text-align: left;
    padding: 0;
    button {
      padding: 0;
      margin-top: 5px;
      margin-left: 16px;
    }
  }
  .right {
    display: block;
    float: right;
    position: relative;
    vertical-align: middle;
    text-align: right;
  }

}