<article class="list" ng-class="{current: (trackback | isState)}">
<div class="scrollable">
  <div class="scrollable-header">
    <div class="articletitle">
        <h1><span>Contacts</span></h1>
    </div>
    <div class="buttonleft">
        <button ui-sref="main.emergency" class="left-nav icon-cancel-circled"><span class="label">Back</span></button>
    </div>
    <div class="buttonright">
        <button class="right-nav icon-colon" ng-click="navbarshow()" ng-class="{active: !isTop}"><span class="label">Toggle Site Header</span></button>
    </div>
  </div>

  <div class="scrollable-content">
    <div class="list-group">
      <a ng-repeat="contact in emergencyContacts" ui-sref-active="selected" ui-sref=".detail({url:'{{contact.url}}'})" class="list-group-item">
        {{contact.title}}
      </a>
    </div>
    
  </div>
</div> 
</article>
<ui-view/>