<article class="detail" ng-class="{current: (trackback | isState)}">
<div class="scrollable">
  <div class="scrollable-header">
    <div class="articletitle">
        <h1><span>Directory Profile</span></h1>
    </div>
    <div class="buttonleft">
        <button ui-sref="{{backlink}}" class="left-nav icon-cancel-circled"><span class="label">Back</span></button>
    </div>
    <div class="buttonright">
        <button class="right-nav icon-colon" ng-click="navbarshow()" ng-class="{active: !isTop}"><span class="label">Toggle Site Header</span></button>
    </div>
  </div>
  <div class="scrollable-content person">
    <span ng-show="person.jpegphoto" class="thumb">
      <img ng-src="{{person.jpegphoto}}"/>
    </span>
    <h1 ng-show="person.cn[0]">{{person.cn[0]}}</h1>
    <p ng-show="person.title[0]">{{person.title[0]}}</p>
  	<!-- <div class="list-group"> -->
      <!-- <span class="tip" ng-show="resultscount">{{resultscount}} results</span>
      <a ng-repeat="result in results" ui-sref-active="active" ui-sref=".person({uid:'{{result.uid}}'})" class="list-group-item">
        {{result.givenname}} <b>{{result.sn}}</b>
      </a>
 -->


      <ul class="icons directory-icons">
            <li class="icon-location icon" ng-show="person.ucscpersonpubmailstop[0]">
                <span style="white-space: pre;">{{person.ucscpersonpubmailstop[0]}}</span>
            </li>
            <li class="icon-telephone icon" ng-show="person.telephonenumber[0]">
                <a ng-href="tel:{{person.telephonenumber[0]}}">{{person.telephonenumber[0]}}</a>
            </li>
            <li class="icon-mail icon" ng-show="person.mail[0]">
                <a ng-href="mailto:{{person.mail[0]}}">{{person.mail[0]}}</a>
            </li>
        </ul>


    <!-- </div> -->
  </div>
</div> 
</article>