<article class="menu" ng-class="{current: (trackback | isState)}">
<div class="scrollable">
  <div class="scrollable-header">
    <div class="articletitle">
        <h1><span>Campus Directory</span></h1>
    </div>
    <div class="buttonleft">
        <button ui-sref="main" class="left-nav icon-cancel-circled"><span class="label">Back</span></button>
    </div>
    <div class="buttonright">
        <button class="right-nav icon-colon" ng-click="navbarshow()" ng-class="{active: !isTop}"><span class="label">Toggle Site Header</span></button>
    </div>
  </div>
  <div class="scrollable-content">
    <div class="list-group">
      <a ng-repeat="item in directoryMenu" ui-sref="{{item.url}}" ui-sref-active="selected" class="list-group-item">
        {{ item.title }}
      </a>
    </div>
  </div>
  <!-- <div class="scrollable-footer"></div> -->
</div> 
</article>
<ui-view/>