main {
	margin-left: 0;
/*
  -webkit-overflow-scrolling: touch;
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.25s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.25s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.25s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.25s;
*/
  
  /*
	@include breakpoint(one-col) { 
    	margin-left: 0;
    }

    @include breakpoint(two-col) { 
    	margin-left: 0;
    	-webkit-transform: none;
    }
    */

}

main.drawer {
	margin-left: 274px;

  
  .state-1 &{
    @include breakpoint(one-col) { 
      margin-left: 0;
      -webkit-transform: translate3d(274px, 0, 0);
    }
  }
  .state-2 &{
    @include breakpoint(one-col) { 
      margin-left: 0;
    }
  }
  .state-3 &{
    @include breakpoint(one-col) { 
      margin-left: 0;
    }
    @include breakpoint(two-col) { 
      margin-left: 0;
    }
  }
  .state-4 &{
    @include breakpoint(one-col) { 
      margin-left: 0;
    }
    @include breakpoint(two-col) { 
      margin-left: 0;
    }
    @include breakpoint(three-col) { 
      margin-left: 0;
    }
  }
  .state-5 &{
    @include breakpoint(one-col) { 
      margin-left: 0;
    }
    @include breakpoint(two-col) { 
      margin-left: 0;
    }
    @include breakpoint(three-col) { 
      margin-left: 0;
    }
  }
  

}

.toggle{
  -webkit-overflow-scrolling: touch;
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.25s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.25s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.25s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.25s;
}


 
.toggle.ng-enter{
  opacity: 0;
}
 
.toggle.ng-enter-active{
  opacity: 1;
}
 
.toggle.ng-leave{
  opacity: 1;
}
 
.toggle.ng-leave-active{
  opacity: 0;
}

/*---------
Portal main page (default)
----------*/
article[role="main"] {
  //float: none;
  width: auto;
  background-color: #fff;
  margin-left:0;

  header {
  	.icon-nav {
  		color: $gray;
        font-size: 31px;
        font-weight: 100;
        padding: 5px 0 0 2px;
  	}
  	button {
  		border: none;
  		background-color: transparent;
  		padding: 0;
        margin: 0;
  	}
  	button:hover {
  		color: $dark;
  		cursor: pointer;
  	}

  	
  }

  section[role="body"] {
    color: $gray;
    padding: 20px 60px;

    p {
      padding: 10px 0;

    }
  	
  }
}

/*---------
Site home page (first menu)
----------*/
article[role="home"] {
  width: 375px;
  background-color: #fff;
  margin-left:0;

  
  .state-2 &{
    @include breakpoint(one-col) { 
      float: none;
      width: auto;
      border-right: none;
    }
    @include breakpoint(two-col) { 
      float: none;
      width: auto;
      border-right: none;
    }
  }
  .state-3 &{
    @include breakpoint(one-col) { 
      margin-left: -102%;
      //width: 50%;
    }
    @include breakpoint(two-col) { 
      //margin-left: -102%;
      width: 50%;
    }
  }
  .state-4 &{
    @include breakpoint(one-col) { 
      margin-left: -152%;
      //width: 100%;
    }
    @include breakpoint(two-col) { 
      margin-left: -152%;
      //width: 50%;
    }
  }
  .state-5 &{
    @include breakpoint(one-col) { 
      margin-left: -152%;
      //width: 100%;
    }
    @include breakpoint(two-col) { 
      margin-left: -152%;
      //width: 50%;
    }
  }
  


  header {
    @include col-header(375px, $medium-gray, $dark-gray);
    
    
    .state-2 &{
      @include breakpoint(one-col) {
        width: 100%;
      }
      @include breakpoint(two-col) {
        width: 100%;
      }
    }
    .state-3 &{
      @include breakpoint(one-col) {
        //width: 50%;
      }
      @include breakpoint(two-col) {
        width: 50%;
      }
    }
    
  }
  
  .body {
    @include body-wrapper(375px);

    .state-2 &{
      @include breakpoint(one-col) {
        width: 100%;
      }
      @include breakpoint(two-col) {
        width: 100%;
      }
    }
    .state-3 &{
      @include breakpoint(one-col) {
        //width: 50%;
      }
      @include breakpoint(two-col) {
        width: 50%;
      }
    }

  	ul {
  		list-style-type: none;
		padding: 0px;
		margin: 0px;

  		a {
  			text-decoration: none;
  			//cursor: pointer;
  			display: block;

  			li {
  				border-bottom: 1px $light-gray solid;
  				padding: 25px 15px;

  				span {
  					font-size: 40px;
  					color: $blue;

  					i {
  						float: left;
  						padding-right: 30px;
  						//margin-top: -4px;
  						margin-left: 6px;
  						//@include vertical-align;
  					}

  					i::before {
  						text-align: center;
  					}

  					h2 {
  						//display: inline;
  						font-size: 22px;
  						font-weight: 500;
  						color: $dark-gray;
  						//vertical-align: super;
  					}
  					div {
  						//display: inline;
  						//margin-left: 49px;
  						margin-top: 5px;
  						font-size: 14px;
  						font-weight: 300;
  						color: $dark-gray;

  					
  					}
  				}

  			}
  		}

  		a:hover, a.active {
  			li{
  				background-color: $blue;
  				border-bottom: 1px $blue-border solid;
  				
  				span {
  					color: $light;
  					h2 {
  						color: $light;
  					}
  					div {
  						color: $light;
  					}
  				}
  			}
  		}

      li.feed {
        border-bottom: 1px $light-gray solid;
        padding: 25px 15px;

        span {
          h2 {
            line-height: 1.5em;
          }
          div.date {
            color: $gray;
            font-size: 14px;
            padding: 5px 0;
          }
          div {
            line-height: 1.25em;
            //margin-top: 10px;
            span.link {
              text-align: right;
              padding-top: 5px;
            }
          }
        }

        a {
          color: $blue;
        }
      }

      li.feed:last-child {
        padding-bottom: 85px;
      }
  		
  	}
  	
  	
  }
 // @include breakpoint(all-cols) { 
//	  width: 400px;
  //}
}


/*-----------------------------------------------
Site list page (list menu)
-----------------------------------------------*/
article[role="list"] {
  width: 250px;
  background-color: #fff;
  margin-left:0;

  .state-3 &{
    @include breakpoint(two-col) { 
      float: none;
      width: auto;
      border-right: none;
    }
    @include breakpoint(one-col) { 
      width: 100%;
    }
  }
  .state-4 &{
    @include breakpoint(one-col) { 
      margin-left: -102%;
      //width: 100%;
    }
    @include breakpoint(two-col) { 
      //margin-left: -102%;
      width: 35%;
      min-width: 240px;
    }
  }
  .state-5 &{
    @include breakpoint(one-col) { 
      margin-left: -102%;
      //width: 100%;
    }
    @include breakpoint(two-col) { 
      margin-left: -102%;
      //width: 35%;
      //min-width: 240px;
    }
  }
  
  

  header {
  	@include col-header(250px, $light-gray, $dark-gray);

    
    .state-3 &{
      @include breakpoint(two-col) { 
        width: 50%;
      }
      @include breakpoint(one-col) { 
        width: 100%;
      }
    }
    .state-4 &{
      @include breakpoint(two-col) { 
        width: 35%;
        min-width: 240px;
      }
    }

    
  }
  .search {
    margin: 0 auto;
    text-align: center;
    height: 40px;

    input {
      //border-radius: 10px;
      font-size: $font-size-large;
      width: 90%;
      @include vertical-align;
      //border: 1px $medium-gray solid;
    }
  }
  .body {
    @include body-wrapper(250px);

    .state-3 &{
      @include breakpoint(two-col) { 
        width: 50%;
      }
      @include breakpoint(one-col) { 
        width: 100%;
      }
    }
    .state-4 &{
      @include breakpoint(two-col) { 
        width: 35%;
        min-width: 240px;
      }
    }


  	ul {
  		list-style-type: none;
      padding: 0;
		  margin: 0 0 64px 0;

      .tip {
        padding: 10px 15px;
        margin: 0;
        background-color: $light-gray;
        color: $medium-gray;
        font-size: $font-size-small;
        font-weight: 500;
      }

  		a {
  			text-decoration: none;
  			//cursor: pointer;
  			display: block;

  			li {
  				border-bottom: 1px $light-gray solid;
  				padding: 25px 15px;
  				font-size: $font-size-base;
  				font-weight: 400;
  				color: $dark-gray;
  				word-wrap: break-word;
  			}
  		}

  		a:hover, a.active {
  			li{
  				background-color: $blue;
  				border-bottom: 1px $blue-border solid;
  				color: $light;
  			}
  		}
  	}
  }
}


/*-----------------------------------------------
Site list page (sublist menu)
-----------------------------------------------*/
article[role="sublist"] {
  width: 250px;
  background-color: #fff;
  margin-left:0;

  .state-4 &{
    @include breakpoint(two-col) { 
      float: none;
      width: auto;
      border-right: none;
    }
    @include breakpoint(one-col) { 
      width: 100%;
    }
  }
  .state-5 &{
    @include breakpoint(one-col) { 
      margin-left: -102%;
      //width: 100%;
    }
    @include breakpoint(two-col) { 
      //margin-left: -102%;
      width: 35%;
      min-width: 240px;
    }
  }
  
  

  header {
    @include col-header(250px, $light-gray, $dark-gray);

    
    .state-4 &{
      @include breakpoint(two-col) { 
        width: 65%;
      }
      @include breakpoint(one-col) { 
        width: 100%;
      }
    }
    .state-5 &{
      @include breakpoint(two-col) { 
        width: 35%;
        min-width: 240px;
      }
    }

    
  }
  .search {
    margin: 0 auto;
    text-align: center;
    height: 40px;

    input {
      //border-radius: 10px;
      font-size: $font-size-large;
      width: 90%;
      @include vertical-align;
      //border: 1px $medium-gray solid;
    }
  }
  .body {
    @include body-wrapper(250px);

    .state-4 &{
      @include breakpoint(two-col) { 
        width: 65%;
      }
      @include breakpoint(one-col) { 
        width: 100%;
      }
    }
    .state-5 &{
      @include breakpoint(two-col) { 
        width: 35%;
        min-width: 240px;
      }
    }


    ul {
      list-style-type: none;
      padding: 0;
      margin: 0 0 64px 0;

      .tip {
        padding: 10px 15px;
        margin: 0;
        background-color: $light-gray;
        color: $medium-gray;
        font-size: $font-size-small;
        font-weight: 500;
      }

      a {
        text-decoration: none;
        //cursor: pointer;
        display: block;

        li {
          border-bottom: 1px $light-gray solid;
          padding: 25px 15px;
          font-size: $font-size-base;
          font-weight: 400;
          color: $dark-gray;
          word-wrap: break-word;
        }
      }

      a:hover, a.active {
        li{
          background-color: $blue;
          border-bottom: 1px $blue-border solid;
          color: $light;
        }
      }
    }
  }
}


/*---------
Detail page (far right column)
----------*/
article[role="detail"] {
  float: none;
  width: auto;
  background-color: #fff;
  margin-left:0;

  button {
  		border: none;
  		background-color: transparent;
  		color: #7E7E7E;
        font-size: 26px;
        padding: 0 5px;
        margin: 17px 0 0 0;
        //float: left;
        position: absolute;
        z-index: 2;
  	}
  	button:hover {
  		color: $dark;
  		cursor: pointer;
  	}
  	button.left-nav, button.right-nav {
  		//display: inline;
  		//@include vertical-align;
  		//top: 15px;
  		//padding: 0 5px;
  		//margin-top: 10px;
  		//left: 5px;
  		//right: 5px;
  	}

  header {
  	//background-color: $light-gray;
  	color: $dark-gray;
  	//height: 64px;
  	//width: 100%;
  	margin: 20px 20px 10px 50px;
  	padding: 0 0 10px 0;
  	border-bottom: 1px $gray-border solid;

  	
  	h1 {
  		font-size: 24px;
  		padding: 20px 0 0 0;
  		//padding: 44px 5% 0 15%;
  		color: $dark;
  	}
  	p {
  		font-size: $font-size-base;
  		padding: 10px 0;
  		
  	}
  	span {
  		float: right;
  		padding: 0 0 10px 20px;
  		background-color: $light;
  	}
  	img {
  		
  		border: 1px solid $light-gray;
  		background-color: $light;
  		width: 125px;
  		height: auto;
  	}
  }

  section.body {
  	margin: 10px 20px 10px 50px;

  	ul {
  		list-style-type: none;

  		li {
  			color: $dark-gray;
  			font-weight: 300;
  			padding: 25px 0 0 40px;
  			position: relative;
  			line-height: 1.25;

  			a {
  				color: $blue;
  				font-weight: 500;
  				text-decoration: none;
  			}

  			a:hover, a:active {
  				color: $dark-blue;
  			}
  		}
  		li::before {
  			color: $gray;
  			//content: '\e81e';
    		position: absolute;
    		left: 0px;
    		font-size: 22px;
  		}
  	}
  }
}


/*-----------------------------------------------
Site news page (list menu)
-----------------------------------------------*/
article[role="news"] {
  width: 350px;
  background-color: #fff;
  margin-left: 0;

  
  .state-3 &{
    @include breakpoint(one-col) { 
      //margin-left: -102%;
      width: 100%;
    }
    @include breakpoint(two-col) { 
      float: none;
      width: auto;
      border-right: none;
    }
  }
  

  header {
    @include col-header(350px, $light-gray, $dark-gray);

    
    .state-3 &{
      @include breakpoint(two-col) { 
        width: 50%;
      }
      @include breakpoint(one-col) { 
        width: 100%;
      }
    }
    
  }

  .body {
  	//margin-top: 64px;
    //position: relative;

    @include body-wrapper(350px);

    .state-3 &{
      @include breakpoint(two-col) { 
        width: 50%;
      }
      @include breakpoint(one-col) { 
        width: 100%;
      }
    }

  	ul {
  		list-style-type: none;
		  padding: 0px;
		  margin: 0px;
      padding-bottom: 64px;

  		div.item {
  			text-decoration: none;
  			//cursor: pointer;
  			display: block;

  			li {
  				border-bottom: 1px $light-gray solid;
  				padding: 25px 15px;
  				font-size: $font-size-base;
  				font-weight: 500;
  				line-height: 1.25;
  				color: $dark-gray;
  				word-wrap: break-word;

  				a {
  					color: $dark-gray;
  					font-style: italic;
  				}

  				div.date {
  					color: $medium-gray;
  					font-size: $font-size-medium;
  					font-weight: 500;
  					margin-top: 10px;
  				}
  			}
  		}

  		div.item:hover, div.item.active {
  			li{
  				background-color: $blue;
  				border-bottom: 1px $blue-border solid;
  				color: $light;

  				a {
  					color: $yellow;
  				}
  			}
  		}
  	}
  }
}


/* Transitions */

/* Default Enter/Leave */
/*
.ng-enter, 
.ng-leave
{ 
    -webkit-transition: 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
    -moz-transition: 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
    -ms-transition: 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
    -o-transition: 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
    transition: 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
} 
 
.ng-enter {
    left: -100%;
}
.ng-enter.ng-enter-active {
    left: 0;
}
 
.ng-leave {
    left: 0;
}
.ng-leave.ng-leave-active{
    left: 100%;
}
*/