nav[role="navigation"] {
    width: 274px;
    //background-color: #222B2D;
    background: #001129 url('/inc/img/nav_bg.png') no-repeat top left;
    @media
      only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (   min--moz-device-pixel-ratio: 2),
      only screen and (     -o-min-device-pixel-ratio: 2/1),
      only screen and (        min-device-pixel-ratio: 2),
      only screen and (                min-resolution: 192dpi),
      only screen and (                min-resolution: 2dppx) { 
        background: #001129 url('/inc/img/nav_bg@2x.png') no-repeat top left;
        background-size: 274px auto;
    }

    float:block;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;

    header {
      padding: 2em;
      h1.wordmark {
        width: 156px; 
        height: 31px;
        background: url('/inc/img/ucsc_logo.png') no-repeat top left;
        @media
          only screen and (-webkit-min-device-pixel-ratio: 2),
          only screen and (   min--moz-device-pixel-ratio: 2),
          only screen and (     -o-min-device-pixel-ratio: 2/1),
          only screen and (        min-device-pixel-ratio: 2),
          only screen and (                min-resolution: 192dpi),
          only screen and (                min-resolution: 2dppx) { 
            background: url('/inc/img/ucsc_logo@2x.png') no-repeat top left;
            background-size: 135px 27px;
        }
        text-indent: -9999px;
        opacity: 0.8; 
        filter: alpha(opacity=8);

      }
    }

    .page-wrap {
    	//min-height: 100%;
    	//margin-bottom: -145px;
    }
    .page-wrap:after {
  		content: "";
  		display: block;
  		margin-top: 20px;
	}
	.site-footer, .page-wrap:after {
  		height: 145px; 
	}
	.site-footer {
  		//background: orange;
  		
  		//padding: 1em 1em .5em 2em;

  		padding: 0 1em 0 2em;

  		h1 {
  			font-size: 20px;
  			color: $light-gray;
  			font-weight: 300;

  		}
  		label:first-of-type {
  			margin-top: 5px;
  		}
  		label {
  			display: block;
  			padding: 4px 0 5px 18px;
  			position: relative;
  			line-height: 1.15;
  			font-size: 14px;

  			a {
  				color: #2B78A4;
  				font-weight: 300;
  				text-decoration: none;
  			}

  			a:hover {
  				color: $blue;
  			}
  		}
  		label::before {
  			color: $gray-heading;
    		position: absolute;
    		left: -5px;
    		font-size: 16px;
    		
  		}
  		small {
  			display: block;
  			font-size: .65em;
  			margin-top: 6px;
  			color: #383F41;
  		}
	}
    //@include breakpoint(one-col) { 
    //display: none;
    //}
    section[role="report"] {
        background: linear-gradient(0deg, #222b2d, #33352A 90%) no-repeat;
        height: 120px;
        padding-top: 1em;
        .left,.right {
            float: left;
            padding-left: 2.1em;
        }
        .temp, .tide {
            color: $light;
            font-size: 17px;
            font-weight: 400;
            vertical-align: super;
        }
        .left {
        	//margin-left: 5px;
        }
        .weather {
            color: $gray;
            font-size: 31px;
            font-weight: 100;
            margin-top: -6px;
            padding-left: 0px;
        }
        .icon-sun, .icon-cloudy-sun {
            color: $yellow;
        }
        .icon-moon, .icon-cloudy-moon {
        	color: #C7E6F7;
        }
        .icon-waves {
            color: $blue;
            font-size: 30px;
            font-weight: 100;
            margin-left: -5px;
        }
        .icon-fahrenheit {
        	margin: 0 0 0 -5px;
        	vertical-align: super;
        }
        .tide i {
        	vertical-align: super;
        	font-style: normal;
        	font-size: $font-size-xs;
        }
        .height {
        	font-size: 11px;
        	font-weight: 400;
        	color: $light;
        	margin: -11px 0 0 41px;
        }
        h2 {
        	font-size: $font-size-small;
        	font-weight: 400;
        	color: $gray;
        	opacity: 0.35;
        	text-transform: uppercase;
        	padding-bottom: .75em;
        	margin-top: 0px;
        }
    }
    section[role="nav"] {
    	margin-top: -4px;

    	h1 {
        	font-size: $font-size-medium;
        	font-weight: 500;
        	color: $gray;
        	opacity: 0.35;
        	text-transform: uppercase;
        	padding-left: 2.5em;
        	padding-bottom: .75em;
    	}

    	ul {
    		a {
    			color: $gray;
    			text-decoration: none;
    			li {
    				padding: 13px 0;

    				span {
    					padding-left: 34px;
    					font-size: 17px;
    					font-weight: 400;

    					i {
    						font-size: 18px;
    						padding-right: 12px;
    						font-weight: 100;
    						color: #727779;

                            sup {
                              font-style: normal;
                              font-weight: 400;
                              color: $gray;
                              font-size: 12px;
                              vertical-align: super;
                              margin-left: -3px;
                            }
    					}

                        i.warn {
                            color: $assertive;
                        }
    				}
    				

    			}
    		}

    		a:hover, a.active {
    			color: $light;

          li span {
            //border-left: 3px $light-gray solid;
            //padding-left: 31px;
          }

    			i {
    				color: #CCCECE;
    			}
    		}
    	}
    }
    
}