body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: $font-family-base;
    font-size: $font-size-base;
}

.wrap {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

nav,
article {
    height: 100%;
    //overflow: auto;
    overflow-x: hidden;
    overflow-y: auto; /* has to be scroll, not auto */
    float: left;

    section {
      -webkit-overflow-scrolling: touch;
      //height: 100%;
    }
}

nav {
  z-index:1;
}

article {
  border-right: 1px $gray-border solid;
  z-index:3;
  //margin-left: -102%;
}

article:last-child {
  border-right: none;
}

main {
    height: 100%;
    position:relative;
    z-index:2;
}

.active a,a.active, .active2 a,a.active2 {
    color: $light;
}

.pull-left {
  float: left;
}

*:focus {outline:0;}
:focus {outline:none;}
::-moz-focus-inner {border:0;}