// Colors
// -------------------------------

$light:                           #ffffff !default;
$yellow:                          #FFE552 !default;
$light-blue:                      #649AD5 !default;
$blue:                            #0059B5 !default;
$dark-blue:						            #001129 !default;
$gray:                            #959A9B !default;
$dark-gray:                       #515151 !default;
$medium-gray:                     #BBBBBB !default;
$light-gray:                      #eeeeee !default;
$gray-heading:					          #828583 !default;
$gray-border:					            #D8D8D8 !default;
$blue-border:                     #0F67BF !default;
$light-gray-border:               #EFEFEF !default;
$assertive:                       #DC4042 !default;
//$royal:                           #8a6de9 !default;
$dark:                            #2e2e2e !default;


// Base
// -------------------------------

$font-family-sans-serif:          "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !default;
$font-family-light-sans-serif:    "Helvetica Neue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !default;
$font-family-serif:               Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:           Monaco, Menlo, Consolas, "Courier New", monospace !default;

$font-family-base:                $font-family-light-sans-serif !default;
$font-size-base:                  16px !default;
$font-size-large:                 18px !default;
$font-size-xl:                 	  32px !default;
$font-size-medium:				        13px !default;
$font-size-small:                 11px !default;
$font-size-xs:                     9px !default;

$line-height-base:                1.428571429 !default; // 20/14
$line-height-computed:            floor($font-size-base * $line-height-base) !default; // ~20px
$line-height-large:               1.33 !default;
$line-height-xl:                  1.2 !default;
$line-height-small:               1.5 !default;

$headings-font-family:            $font-family-base !default;
$headings-font-weight:            500 !default;
$headings-line-height:            1.2 !default;

$base-background-color:           #fff !default;
$base-color:                      #000 !default;

$link-color:                      $blue !default;
$link-hover-color:                darken($link-color, 15%) !default;

$content-padding:                 10px !default;

$padding-base-vertical:           6px !default;
$padding-base-horizontal:         12px !default;

$padding-large-vertical:          10px !default;
$padding-large-horizontal:        16px !default;

$padding-small-vertical:          5px !default;
$padding-small-horizontal:        10px !default;

$border-radius-base:              4px !default;
$border-radius-large:             6px !default;
$border-radius-small:             3px !default;


// Mixins
// -------------------------------
@mixin breakpoint($point) {
  @if $point == one-col {
    @media (max-width: 644px) { @content; }
  }
  @else if $point == two-col {
    @media (max-width: 1019px) { @content; }
  }
  @else if $point == three-col {
    @media (max-width: 1334px)  { @content; }
  }
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin body-wrapper($width) {
  position:absolute; 
  z-index:1;
  top:64px;
  width: $width;
  height: 100%;
  background:$gray;
  overflow:auto;

  div.wrapper {
    position:relative;
    background-color: $light;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

@mixin col-header($width, $bg-color, $color) {
  background-color: $bg-color;
  color: $color;
  height: 64px;
  width: $width;
  position: absolute;
  z-index: 100;
  top: 0;

  div.wrapper {
    @include vertical-align;
    text-align: center;
    padding: 0 30px;
    //margin-top: -2px;
  }

  button {
    border: none;
    background-color: transparent;
    color: #7E7E7E;
    font-size: 26px;
    padding: 0 5px;
    margin: 17px 0 0 0;
    //float: left;
    position: absolute;
    z-index: 2;
  }

  button:hover {
    color: $dark;
    cursor: pointer;
  }

  button.left-nav, button.right-nav {
  }

  h1 {
    font-size: $font-size-large;
    span {
      font-weight: 200;
    }
  }
}

/*
@mixin breakpoint($point) {
  @if $point == two-cols {
    @media (min-width: 645px) { @content; }
  }
  @else if $point == three-cols {
    @media (min-width: 1020px) { @content; }
  }
  @else if $point == all-cols {
    @media (min-width: 1335px)  { @content; }
  }
}
*/