article[class*="list"] {
	.scrollable-content {
		ul{
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				padding: 10px;
				border-bottom: 1px solid #ddd;

				a{
					color: #444;
					background-color: white;
					.title {
						font-weight: 600;
						font-size: 17px;
						display: block;
						color: @brand-primary;
					}
					.date {
						display: block;
						color: #666;
						font-weight: 400;
					}
					.location {
						display: block;
						color: #333;
						font-weight: 500;
						margin-left: -2px;
					}
				}
			}
		}
		.list-group{
			a{
				padding: 1.2em;
			}
		}
		.list-group ul{
			a{
				padding: 0;
			}
		}
	}
}